/aspnetcore/RallyVinicius/TestResults
/aspnetcore/RallyVinicius/RallyVinicius.Dominio/bin
/aspnetcore/RallyVinicius/RallyVinicius.Dominio/obj
/aspnetcore/RallyVinicius/RallyVinicius.Dominio.Testes/bin
/aspnetcore/RallyVinicius/RallyVinicius.Dominio.Testes/obj
/aspnetcore/RallyVinicius/.vs/RallyVinicius/DesignTimeBuild/.dtbcache.v2
/aspnetcore/RallyVinicius/.vs/RallyVinicius/v16/TestStore/0/001.testlog
/blazor
/react
