/aspnetcore/RallyVinicius/TestResults
/aspnetcore/RallyVinicius/RallyVinicius.Dominio/bin
/aspnetcore/RallyVinicius/RallyVinicius.Dominio/obj
/aspnetcore/RallyVinicius/RallyVinicius.Dominio.Testes/bin
/aspnetcore/RallyVinicius/RallyVinicius.Dominio.Testes/obj
/aspnetcore/RallyVinicius/.vs/RallyVinicius/DesignTimeBuild/.dtbcache.v2
/aspnetcore/RallyVinicius/.vs/RallyVinicius/v16/TestStore/0/001.testlog
/blazor
/react
/aspnetcore/RallyVinicius/RallyVinicius.API/bin
/aspnetcore/RallyVinicius/RallyVinicius.API/obj
/aspnetcore/RallyVinicius/.vs/RallyVinicius/config/applicationhost.config
/aspnetcore/RallyVinicius/RallyVinicius.API/Logs
/aspnetcore/RallyVinicius/.vs/RallyVinicius/v16/*.suo
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.API/obj
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.API/bin
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Dominio/obj
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Dominio/bin
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Infra.CrossCutting/obj
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Infra.CrossCutting/bin
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Infra.Dados/obj
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Infra.Dados/bin
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Testes.Dominio/obj
/aspnetcore/CaixaEconomica.Vinicius/CaixaEconomica.Vinicius.Testes.Dominio/bin
/aspnetcore/CaixaEconomica.Vinicius/.vs/CaixaEconomica.Vinicius/DesignTimeBuild/.dtbcache.v2
/aspnetcore/CaixaEconomica.Vinicius/.vs/CaixaEconomica.Vinicius/v16/.suo
